{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}

	<h1 class="my-5">Vos commandes
	</h1>

	<div class="card">
		<div class="card-body">
			{{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

			<div class="col-md-4">
				{{ form_label(form.orderNumber, 'Numéro de commande', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.orderNumber, {'attr': {'class': 'form-control', 'placeholder': 'Entrez un numéro'}}) }}
			</div>

			<div class="col-md-4">
				{{ form_label(form.status, 'Statut', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
			</div>

			<div class="col-md-4">
				{{ form_label(form.user, 'Utilisateur (email ou ID)', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(form.user, {'attr': {'class': 'form-control', 'placeholder': 'Email ou ID'}}) }}
			</div>

			<div class="col-12 text-end">
				<button type="submit" class="btn btn-primary">
					<i class="bi bi-search"></i>
					Rechercher
				</button>
			</div>

			{{ form_end(form) }}
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">N° commande</th>
				<th scope="col">Montant</th>
				<th scope="col">User</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>

			{% for order in orders %}
				<tr>
					<th scope="row">
						<a href="{{path('app_order_details', { id: order.id } )}}">
							{{order.id}}
						</a>
					</th>
					<td>{{order.amount}}€</td>
					<td>{{order.user.firstName}}
						{{order.user.lastName}}</td>
					<td>{{order.status}}</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>

{% endblock %}
